main.contacts,
main.register
	background: #FFF
	color: #353535

	h2
		letter-spacing: 0
		margin-bottom: 15px
		text-transform: uppercase
		font-weight: 500

	p,
	a
		font-size: .9em
	a
		color: #FF9D00

	.contact-form,
	.register-form
		width: 100%
		display: flex
		margin: 90px 0 83px
		flex-direction: row
		justify-content: center

		div:first-child
			margin-right: 15px

		input[type="text"],
		input[type="submit"],
		input[type="email"],
		input[type="date"],
		textarea,
		.select-wrapper
			display: block
			width: 100%
			border: 1px solid #E1E1E1
			padding: 15px 20px
			font-weight: 300
			border-radius: 5px
			box-sizing: border-box
			margin-bottom: 7px
			font-size: .8em
			width: 300px
			box-shadow: none
			background: #fff

		.select-wrapper
			padding: 14px 12px
			max-height: 50px

		input[type="submit"]
			border: none
			background: #FF9D00
			text-transform: uppercase
			font-weight: 600
			color: #FFF
			cursor: pointer
			opacity: .8
			transition: opacity .5s ease

			&:hover
				opacity: 1

		textarea
			resize: none
			height: 62.2%
			max-height: 63%

.register-form
	select
		width: 130%
		border: 0
		box-shadow: none
		width: 100%
		color: #A9A9A9
		background: #fff
		-webkit-appearance: none

input[type="date"]
	color: #A9A9A9
	text-transform: uppercase
	max-height: 50px

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator
	display: none