@media (max-width: 1440px)
	nav
		padding-right: 40px
		align-items: flex-end
		justify-content: flex-start

		.logo
			width: 80px
			height: 80px

		ul
			font-size: 1em
			margin-top: 70px

		.adress
			position: absolute
			font-size: .7em
			bottom: 20px
			right: 40px

	.hero-wrapper
		p
			font-size: .8em

	footer
		height: 50px
		line-height: 50px

		p
			margin-bottom: 5px

	main.contacts,
	main.register
		p
			font-size: .9em
		a
			font-size: 1em

		.contact-form,
		.register-form
			margin: 50px 0 50px

			input[type="text"],
			input[type="submit"],
			input[type="email"],
			input[type="date"],
			textarea,
			.select-wrapper
				font-size: .7em

	main.about
		.wrapper
			p
				font-size: .8em
				max-width: 960px
			.intro
				max-width: 750px

	.about-block
		max-width: 360px
		min-width: initial

		.about-block-txt
			h3
				font-size: 1em