nav
	display: none

.mobilenav
	visibility: visible

main, main div, footer
	width: 100%

.hero-wrapper
	p
		font-size: .8em

	h2
		font-size: 2.5em
		line-height: 1em
		margin-top: 0

footer
	height: 80px
	display: flex
	flex-direction: column
	line-height: initial
	align-items: center
	justify-content: center
	padding: 0 40px
	text-align: center
	position: relative

	p, ul
		display: block
		float: none

	ul 
		li:not(:last-child)
			margin-right: 7px
		li:not(:last-child)::after
			display: none

// .logo
// 	display: none