{{> head }}
<body>
	{{> nav }}
	{{> mobilenav }}
	<main class="about">
		<div class="wrapper">
		<div class="about-img"></div>
		<h2>We are ascent light</h2>
		<p class="intro">LED (light emitting diode) is a very efficient, energy saving novel technology, which leads to longer lifetime for bulbs, higher durability and lower costs than your average standard light bulbs. This light can easily be tailored to your needs and suit a range of lighting requirements. We deal in a number of top quality LED lightening products.</p>
			<div class="about-blocks">
				<div class="about-block">
					<div class="ico" id="quality"></div>
					<div class="about-block-txt">
						<h3>A high quality and trustworthy products</h3>
						<p>Our products are known to contain a seal of excellence that guarantees every product’s worth. Thanks to Ascent light organizations are able to achieve optimum lighting conditions in their offices as well invest in unique products beneficial to your industry.</p>
					</div>
				</div>
				{{! QUALITY BLOCK }}
				<div class="about-block">
					<div class="ico" id="innovation"></div>
					<div class="about-block-txt">
						<h3>Innovation, environment friendly</h3>
						<p>We aim to maximize value to our customers and excel to create a positive footprint in the American society. Our main focus is on innovation, top-notch technology, superior quality and an assisting customer service. Our LED products are designed and produced in a way that is suitable for renewable energy and minimum carbon footprint.</p>
					</div>
				</div>
				{{! INNOVATION BLOCK }}
				<div class="about-block">
					<div class="ico" id="budget"></div>
					<div class="about-block-txt">
						<h3>Keep your budget safe</h3>
						<p>Proper lighting is an important aspect of your life and you should only invest in services that can guarantee your satisfaction. Even though you want to invest in the best quality costs may be hindering your way, that is where Ascent Light comes into play. Our products are of the highest quality and all within budget range.</p>
					</div>
				</div>
				{{! BUDGET BLOCK }}
				<div class="about-block">
					<div class="ico" id="performance"></div>
					<div class="about-block-txt">
						<h3>Superior performance and grand class</h3>
						<p>We pride ourselves on superior performance and make sure that all of our products are up to the mark. Our brand is known for its grand class and the highest quality raw materials are utilized for the construction of our products.</p>
					</div>
				</div>
				{{! PERFORMANCE BLOCK }}
				<div class="about-block">
					<div class="ico" id="service"></div>
					<div class="about-block-txt">
						<h3>Warm and accommodating customer service</h3>
						<p>Our warm and accommodating customer service is available 24/7 to answer any questions or problems you may have. We also provide information regarding our products whenever the customer requires it.</p>
					</div>
				</div>
				{{! SERVICE BLOCK }}
				<div class="about-block">
					<div class="ico" id="warranty"></div>
					<div class="about-block-txt">
						<h3>A long time warranty of 18 months</h3>
						<p>We carry a long time extended warranty of 18 months and also ensure our customers feel secured with a 60 days money back guarantee to facilitate our customers. We also offer sales services and are available round the clock to answer any queries you might have.</p>
					</div>
				</div>
				{{! WARRANTY BLOCK }}

        <p id="affiliation">This is to confirm my affiliation with the website</p>
			</div>
		</div>
	</main>
</body>
{{> footer }}