{{> head }}
<link rel="stylesheet" href="grow_lamps.css">
<body>
	{{! NAVIGATION }}
	{{> mobilenav }}
	<nav class="lamps">
		<a href="{{{ siteURL }}}" class="logo"></a>
		<ul>
			<li><a href="{{{ siteURL }}}/">Home</a></li>
			<li><a href="{{{ siteURL }}}/about.html">About</a></li>
			<li><a href="{{{ siteURL }}}/grow_lamps.html">Grow lamps</a></li>
			<li><a href="{{{ siteURL }}}/register.html">Extended warranty</a></li>
			<li><a href="{{{ siteURL }}}/contacts.html">Contacts</a></li>
			<li><a href="//www.amazon.com/dp/B01JURTB9E">Buy now</a></li>
		</ul>
	</nav>
	<div class="banner">
		<div class="banner-text">
			<p>We created <br>perfect lamp <br>for your plants</p>
		</div>
		<div class="banner-img"></div>
	</div>
	<div class="green-desc">
{{! 		<h3>Description of product</h3>
		<div class="green-desc-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor n cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis, sed do eiusmod tempor n cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor n cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis, sed do eiusmod tempor n cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
		</div> }}
		<div class="about-blocks">
			<div class="about-block">
				<div class="ico" id="quality"></div>
				<div class="about-block-txt">
					<h3>WIDER SHAPE, GREATER SURFACE AREA</h3>
					<p>With efficient 90-degree lenses, you will have wider area under the light unlike standard bulbs that are too narrow and only provide a limited coverage for plants. Ascent Light produces bright and solid beam of light unlike some lamps with wider degree, where despite larger coverage, the light could be far too dispersed and does not reach peak value to induce adequate photosynthesis.</p>
				</div>
			</div>
			{{! QUALITY BLOCK }}
			<div class="about-block">
				<div class="ico" id="innovation"></div>
				<div class="about-block-txt">
					<h3>FULL SPECTRUM</h3>
					<p>It is perfect for growing plants, fruits and a range of flowers. It contains targeted 4 bands spectrum including 3x660nm, 6x630nm, 2x470nm, 1x430nm. The power of such spectrum induces optimum photosynthesis and fruiting for healthy growth.</p>
				</div>
			</div>
			{{! INNOVATION BLOCK }}
			<div class="about-block">
				<div class="ico" id="budget"></div>
				<div class="about-block-txt">
					<h3>ENERGY SAVING AND LONG SERVICE LIFE</h3>
					<p>12W device is fully active and causes low energy consumption. It allows you to keep your bills low by using only the most efficient lamps. It is constructed from the finest grade materials. It also has about 50,000 hours of a lifetime, which is more than 10 years of 12 hours daily use.</p>
				</div>
			</div>
			{{! BUDGET BLOCK }}
			<div class="about-block">
				<div class="ico" id="performance"></div>
				<div class="about-block-txt">
					<h3>EASILY USABLE AND CONVENIENT</h3>
					<p>The LED light bulb is easy to install and use. Standard e27 socket can be connected to any switch without the need of reflectors. The packaging is well and so elegantly done that it can even be used as a gift package for a special one who loves gardening.</p>
				</div>
			</div>
			{{! PERFORMANCE BLOCK }}
			<div class="about-block">
				<div class="ico" id="service"></div>
				<div class="about-block-txt">
					<h3>18 MONTH WARRANTY, 60 DAYS BACK RETURN POLICY</h3>
					<p>All customers can buy this product with the ease of knowing they are in safe hands. The standard warranty is 15 month, get extension for 3 month upon registration on ascentlight.com. Within 60 days after purchase, we will return money back in case you won't be satisfied with the quality of lamp.</p>
				</div>
			</div>
			{{! SERVICE BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>WIDER SHAPE, GREATER SURFACE AREA</h3>
					<p>With efficient 90-degree lenses, you will have wider area under the light unlike standard bulbs that are too narrow and only provide a limited coverage for plants.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>OPTIMAL LUMINOSITY FOR GROWING</h3>
					<p>Ascent Light produces bright and solid beam of light unlike some lamps with wider degree, where despite larger coverage, the light could be far too dispersed and does not reach peak value to induce adequate photosynthesis.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>FULL SPECTRUM</h3>
					<p>It is perfect for growing plants, fruits and a range of flowers. It contains targeted 4 bands spectrum including 3x660nm, 6x630nm, 2x470nm, 1x430nm. The power of such spectrum induces optimum photosynthesis and fruiting for healthy growth.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>ENERGY SAVING</h3>
					<p>12W device is fully active and causes low energy consumption. It allows you to keep your bills low by using only the most efficient lamps. LED technology uses at least 75% less energy comparing to other bulbs because of no waste of energy for heating.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>LONG SERVICE LIFE</h3>
					<p>Ascent Light LED grow Lamp is constructed from the finest grade materials. It also has about 50,000 hours of a lifetime, which is more than 10 years of 12 hours daily use.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>SAFETY</h3>
					<p>LEDs present a much safer light fitting than other bulbs, they are much less likely to burn or cause fires.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>EASILY USABLE AND CONVENIENT</h3>
					<p>The LED lights are secured in place and the product is easy to install and use. Standard e27 socket is attached to facilitate customers and can be connected to any switch without the need of reflectors.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>ELEGANT PACKAGE DESIGN</h3>
					<p>The packaging is so elegantly done that it can even be used as a gift package for a special one who loves gardening.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>18 MONTH WARRANTY</h3>
					<p>All customers can buy this product with the ease of knowing they are in safe hands. The standard warranty is 15 month, get extension for 3 month upon registration on ascentlight.com.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
			<div class="about-block">
				<div class="ico" id="warranty"></div>
				<div class="about-block-txt">
					<h3>60 DAYS BACK RETURN POLICY</h3>
					<p>Within 60 days after purchase, we will return money back in case you won't be satisfied with the quality of lamp.</p>
				</div>
			</div>
			{{! WARRANTY BLOCK }}
		</div>
	</div>
	<div class="photo">
		<div class="photo-wrapper">
			<img src="/images/Photo_3.png" alt="">
		</div>
	</div>
	<div class="photo">
		<div class="photo-wrapper">
			<img src="/images/Photo_1.png" alt="">
		</div>
	</div>
	<div class="photo">
		<div class="photo-wrapper">
			<img src="/images/Photo_2.png" alt="">
		</div>
	</div>
</body>
{{> footer }}