{{> head }}
<body>
	{{> nav }}
	<main class="hero">
		<div class="hero-wrapper">
			<h2>Ascent Light.</h2>
			<p>Ascent Light is the finest company and the future of LED lighting.</p>
			<p>The premium LED lighting brand you trust.</p>
			<a href="{{{ siteURL }}}/about.html">= Read more =</a>
		</div>
	</main>
</body>
{{> footer }}