<footer>
	<p>Copyright 2016 Ascent Light</p>
	<ul>
		<li><a href="">Facebook</a></li>
		<li><a href="{{{ siteURL }}}/contacts">Contact Us</a></li>
	</ul>
</footer>
<script src="/js/mobilenav.js"></script>
</html>