<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ascent Light</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="style.min.css">
	<link rel="stylesheet" media="(max-width: 1440px)" href="1440px.css">
	<link rel="stylesheet" media="(max-width: 1100px)" href="1100px.css">
	<link rel="stylesheet" media="(max-width: 960px)" href="960px.css">
</head>