<div class="mobilenav">
	<a href="{{{ siteURL }}}" class="logo"></a>
	<div id="hamburger">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<div id="mobilenav-toggle">
	<ul>
		<li><a href="{{{ siteURL }}}/">Home</a></li>
		<li><a href="{{{ siteURL }}}/about">About</a></li>
		<li><a href="{{{ siteURL }}}/">Grow lamps</a></li>
		<li><a href="{{{ siteURL }}}/register">Extended warranty</a></li>
		<li><a href="{{{ siteURL }}}/contacts">Contacts</a></li>
		<div class="adress">info@ascentlight.com</div>
	</ul>
</div>