<nav>
	<a href="{{{ siteURL }}}" class="logo"></a>
	<ul>
		<li><a href="{{{ siteURL }}}/">Home</a></li>
		<li><a href="{{{ siteURL }}}/about">About</a></li>
		<li><a href="{{{ siteURL }}}/">Grow lamps</a></li>
		<li><a href="{{{ siteURL }}}/register">Extended warranty</a></li>
		<li><a href="{{{ siteURL }}}/contacts">Contacts</a></li>
	</ul>
	<a href="mailto:ascentlight.com" class="adress">info@ascentlight.com</a>
</nav>