<nav>
	<a href="{{{ siteURL }}}" class="logo"></a>
	<ul>
		<li><a href="{{{ siteURL }}}/">Home</a></li>
		<li><a href="{{{ siteURL }}}/about.html">About</a></li>
		<li><a href="{{{ siteURL }}}/grow_lamps.html">Grow lamps</a></li>
		<li><a href="{{{ siteURL }}}/register.html">Extended warranty</a></li>
		<li><a href="{{{ siteURL }}}/contacts.html">Contacts</a></li>
	</ul>
	<a href="mailto:ascentlight.com" class="adress">info@ascentlight.com</a>
</nav>